<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.MessageMapper">

    <insert id="save">
        INSERT INTO message (user_id,content,is_read,create_time)
        VALUES (#{userId},#{content},#{isRead},#{createTime})
    </insert>

    <update id="setRead">
        UPDATE message SET is_read = true WHERE user_id = #{userId}
    </update>

    <delete id="batchDelete" parameterType="list">
        DELETE FROM message WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--分页查询信息-->
    <select id="query" resultMap="BaseResultMap">

        SELECT m.*,
               u.user_name,
               u.user_avatar,
               u.user_account
        FROM message m
        LEFT JOIN user u ON u.id = m.user_id
        <where>
            <if test="userId != null">
                AND m.user_id = #{userId}
            </if>
            <if test="content != null and content !=''">
                AND m.content LIKE concat('%',#{content},'%')
            </if>
            <if test="startTime != null and endTime != null">
                AND m.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        ORDER BY m.id DESC
        <if test="current != null and size != null">
            LIMIT #{current},#{size}
        </if>
    </select>

    <!--满足分页条件的数据总项-->
    <select id="queryCount" resultType="integer">

        SELECT COUNT(*)
        FROM message m
        <where>
            <if test="userId != null">
                AND m.user_id = #{userId}
            </if>
            <if test="content != null and content !=''">
                AND m.content LIKE concat('%',#{content},'%')
            </if>
            <if test="startTime != null and endTime != null">
                AND m.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>

    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.kmbeast.pojo.vo.MessageVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_avatar" property="userAvatar"/>
        <result column="user_account" property="userAccount"/>
        <result column="content" property="content"/>
        <result column="is_read" property="isRead"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>
